@import "tailwindcss";

@theme {
  --color-brand: #22d3ee;
  --font-mono: "JetBrains Mono", "Roboto Mono", monospace;
}

:root {
  background-color: #0A0A0A;
  color: #E4E3E0;
}

body {
  margin: 0;
  overflow: hidden;
}

/* Custom scrollbar for technical look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}
